.drag-drop-file {
  height: 100%;
}


#form-file-upload {
  height: 16rem;
  width: 28rem;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #9090909f;
  background-color: #eeeeee;
}

#label-file-upload.drag-active {
  background-color: #ddd;

}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: "Oswald", sans-serif;
  background-color: transparent;
  color: black;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* List of upload files */
main {
  padding: 57px 27px;
  color: #62ff7d;
}

.main--title {
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: -0.05em;
  color: #fff;
}

.main--files {
  margin-top: 46px;
  max-width: 400px;
}

.main--files > li {
  line-height: 19px;
  padding-block: 10px;
}

.main--files > li::marker {
  font-size: 1.4rem;
  color: #62ff7d;
}

.btn-upload-files {
  margin: 3rem;
  background-color:#0a0a23;
  color: #fff;
  border:none; 
  border-radius:10px; 
  padding: 1rem;
}

.btn-upload-files:hover {
  background-color: rgb(108, 255, 78);
  color: black;
}

/* Files list */
            
ol li {
  list-style-type: none;
  counter-increment: item;
  margin: 5% 5%;
  font-size: 130%;
}

ol li:before {
  content: counter(item);
  margin-right: 5px;
  font-size: 100%;
  background-color: #0a0a23;
  color: #fff;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

.grey {
  color: rgb(122, 122, 122);
}
