.steps-line {
  display: flex;
  margin: 2rem;
  padding: 3rem;
  align-items: center;
}
.steps-line__line {
  background-color: #eee;
  width: 50rem;
  height: 3px;
}

.steps-line__circle {
  background-color: #eee;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.steps-line__circle:hover {
  background-color: #ccc;
}

.steps-line__circle-active {
  background-color: rgb(17 188 191);
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
}
