.categories__title {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 12px;
}

.categories__select-mode {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 35%;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin: 0px 0px 0px 10px;
}

.categories__select-mode.selected {
  background-color: rgb(226, 255, 255);
  border: 1px solid rgb(17 188 191);
}

.categories__select-mode:hover {
  background-color: rgb(226, 255, 255);
  border: 1px solid rgb(17 188 191);
}

.categories__select-mode input[type="checkbox"] {
  display: none;
}

.categories__extension {
  align-items: center;
  font-size: 18px;
  padding: 10px;
}
