.categories {
  height: 100%;
  width: 100%;
}

.categories__background {
  padding: 2rem;
  background-color: rgb(245, 245, 245);
  border-radius: 0.75rem;
  width: 29rem;
}

.categories__title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
}

.categories__search {
  width: 100%;
  height: 30px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 0 #fff;
  border-radius: 4px;
  margin-bottom: 15px;
}

.categories__form {
  display: flex;
  align-items: center;
}

.categories__scrollbar {
  padding: 15px;
}

.categories__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.categories__category {
  float: left;
  margin-right: 10px;
  font-size: 24px;
}

.categories__checkbox {
  float: right;
  font-size: 24px;
  width: 28px;
  height: 28px;
  left: 0;
  margin: 0;
  margin-right: 10px;
}
