.categories-description {
  padding: 3.5rem 4rem;
}

.categories-description__paragraph {
  margin-bottom: 1rem;
  font-size: 20px;
}

.categories-description__checkbox {
  font-size: 24px;
  width: 25px;
  height: 25px;
  margin: 0;
  margin-left: 10px;
}
