.all-files-type {
  height: 100%;
  width: 100%;
  justify-content: center;
}

.all-files-type__title {
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 5px;
  text-align: center;
}

.file-type-tile {
  justify-content: center;
  display: inline-block;
  width: 200px;
  height: 130px;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin: 10px;
}

/* .file-type-tile.selected {
  background-color: rgb(226, 255, 255);
  border: 1px solid rgb(17 188 191);
}

.file-type-tile:hover {
  background-color: rgb(226, 255, 255);
  border: 1px solid rgb(17 188 191);
} */

.file-type-tile input[type="radio"] {
  display: none;
}

.file-type-extension {
  align-items: center;
  display: block;
  font-size: 40px;
  margin: 30px 0;
}

.file-type-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}
