.homepage-footer {
  display: flex;
  margin-top: auto;
  bottom: 0;
  /* position: fixed;   jeżeli chcemy żeby była zawsze widoczna */
  width: 100%;
  align-items: center;
  box-shadow: 0px 0.98256px 15.4564px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 1rem;
  height: 100px;
  z-index: 9999;
  clear: both;
}

.homepage-footer__logo {
  max-width: 15rem;
  height: 100%;
  margin-right: auto;
}

.homepage-footer__title {
  font-size: 16px;
  font-weight: 300;
  margin: 0px 1rem;
}

.homepage-footer__title:hover {
  color: rgb(17 188 191);
}
