.dd {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30rem;
}

.dd__upload {
  margin-top: 2rem;
  height: 20rem;
  width: 90%;
  text-align: center;
  position: relative;
}

.dd__input {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #eeeeee;
}

#label-file-upload.drag-active {
  background-color: #ddd;
}

.dd_text {
  font-size: 22px;
}

.dd__uploadBtn {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 34px;
  border: none;
  background-color: transparent;
}

.dd__uploadBtn:hover {
  text-decoration-line: underline;
}

.dd_deleteBtn {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid rgb(231, 50, 50);
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px #333;
  overflow: hidden;
  transition: 0.3s;
  margin-left: 15px;
  margin-top: 15px;
}

.dd_deleteBtn:hover {
  background-color: rgb(245, 207, 207);
  transform: scale(1.2);
  box-shadow: 0 0 4px #111;
  transition: 0.3s;
}

svg {
  color: rgb(231, 50, 50);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* List of upload files */
main {
  padding: 57px 27px;
  color: rgb(17 188 191);
}

.main--title {
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: -0.05em;
  color: #fff;
}

.main--files {
  margin-top: 46px;
  max-width: 400px;
}

.main--files > li {
  line-height: 19px;
  padding-block: 10px;
}

.main--files > li::marker {
  font-size: 1.4rem;
  color: rgb(17 188 191);
}

.btn-upload-files {
  margin: 1rem;
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 1rem;
}

.btn-upload-files:hover {
  background-color: rgb(17 188 191);
  color: black;
}

/* Files list */
.dd_scrollable {
  width: 100%;
  height: 90%;
}

ol li {
  font-size: 20px;
  list-style-type: none;
  counter-increment: item;
  margin-bottom: 10px;
}

ol li:before {
  content: counter(item);
  background-color: #eeeeee;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
  margin-left: 10px;
}

.grey {
  color: rgb(122, 122, 122);
}
